.banner
  .black-vignette
    .banner-bar
      .container
        .row
          .col-lg-6
            %h2.text-right Connect with me
          .col-lg-6
            %ul.list-inline.banner-social-buttons
              %li
                %a.btn.btn-lt-blue.btn-lg{ href: "https://twitter.com/michaelmac"}
                  %i.fa.fa-twitter.fa-fw
                  %span.banner-social-name Twitter
              %li
                %a.btn.btn-lt-blue.btn-lg{ href: "https://www.linkedin.com/pub/michael-mcmillan/16/39b/a18"}
                  %i.fa.fa-linkedin.fa-fw
                  %span.banner-social-name Linkedin
