/ Footer
%footer
  %hr.section-body-nav-spacer
  .container
    .row
      .col-md-12
        .padding-gap20
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-lt-blue.btn-lg{ href: "https://twitter.com/michaelmac"}
                = inline_svg("twitter-ico", class: "footer-svg")
            %li
              %a.btn.btn-lt-blue.btn-lg{ href: "https://www.linkedin.com/pub/michael-mcmillan/16/39b/a18"}
                = inline_svg("linkedin-ico", class: "footer-svg")

  .container
    .row
      .col-md-12.footer-links
        %ul.list-inline.text-center.text-muted
          = partial "layouts/navlinks"
      .col-md-12
        %p.footer-copyright
          Copyright
          &copy;
          %span#year
          Michael McMillan. &nbsp;All Rights Reserved
