/ Header
.intro-header
  .black-vignette
    .container
      .row
        .col-lg-8.col-lg-offset-1
          .intro-message
            .intro-content
              .row
                .col-md-3.col-sm-3.col-xs-6
                  = link_to (image_tag "star-logo-mock.png", class: "img-responsive"), "/"
                .col-md-7.col-xs-12.margin-topgap5.padding-gap0
                  %h2.dress-class.margin-topgap5.text-left
                    Your Perfect Business Partner
                  %p.text-left
                    Star will become the star of your office. With the intelligence to intake, process and assign your documents exactly where you need them and then easily retrieves them#{"&mdash;"} STAR will be your business' digital librarian. So no more wasted time on document management#{"&mdash;"} nothing has been easier! STAR also seamlessly integrates across all your business applications, so you can work within one system and manage documents from multiple places all in one step.