/ Navigation
%nav.navbar-container
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"}
        = inline_svg('ux-logo', class: "navbar-brand-svg")
        %span.navbar-brand-brand= "Michael McMillan"
        %span.navbar-brand-small Creative Director
    .navbar-links
      %ul.navbar-nav
        = partial "layouts/navlinks"

%hr.section-body-nav-spacer
