/ Page Content
.content-section-a
  .container
    .row.job
      .col-12
        %h1.upper-class.text-center Senior UX & Interactive Designer
        %hr.clear-both.light-hr

    .row.job.padding-bottomgap20
      .col-3
        %p.job-title Essential Skills:
        %p.job-description Mobile website & application design, Visual design, Interface design, User experience design, Front-end web development

        %p.job-title Software Expertise:
        %p.job-description Photoshop, Illustrator, InDesign, Keynote, OmniGraffle, Balsamiq, TextMate, Sublime Text

        %p.job-title Web Technologies:
        %p.job-description HTML, HAML, CSS3, SCSS, LESS, OOCSS, PHP, Ruby on Rails, JavaScript, jQuery, SVN, Git

        %p.job-title Methodologies:
        %p.job-description Interviews, Usability Testing, Surveys, Web/Search Analytics, Card Sorting, Personas, User Scenarios, Pen & Paper

      .col-9.border-left
        .padding-leftgap11
          %p.job-title
            %u eLocal USA, LLC. | 2010-Present
          %p.job-subtitle Senior UX Designer & Creative Director
          %p.job-description
            Direct the creative function so that the environment, culture, team, capabilities, tools, processes, expectations, work style and other elements support the strategic goals and brand of eLocal.com.
          %ul.job-description
            %li Ensure creative function operates in an efficient, profitable manner.
            %li Listening, asking, hearing, prioritizing marketing goals and information into strategic brand concepts, voice, messages and rationales.
            %li Translate senior management's ideas into sound design concepts and translate concepts to designers.
            %li Applied hand-written, object-oriented CSS and HTML5 with an emphasis on performance, scalability, search engine optimization (SEO) and a positive user experience.
            %li Front End Development utilizing HTML5, CSS3, and JavaScript leveraging the Bootstrap framework and a Ruby on Rails / Postgres backend.
            %li Create reusable SASS mixin library utilizing Middleman gem for rapid prototyping landing pages and Heroku deployment.
            %li Conduct A/B testing via VWO platform to test landing page hypotheses.
            %li Contributed to Ruby backend code and assisted with key user-interface and architectural decisions.
            %li UX interviews and card sorting for eLocal Call Center project and lead UI development.
            %li Conducted stakeholder interviews and both remote and in-person user interviews and usability tests.
            %li Created click-throughs and prototypes for web and mobile/tablet for use during tests.
            %li Synthesized and compiled findings to inform UX strategy.
            %li Drove user research and synthesis on multiple projects: created personas and scenarios created clickable prototypes for testing, led remote and in-person test sessions, and advocated for changes based on test findings.




          %hr.clear-both.light-hr

          %p.job-title
            %u Trend Source, Inc. | 2003-Present
          %p.job-subtitle Creative Director
          %p.job-description
            Primary objective  to maintain overall client vision and objectives thru strong design concepts thru both on line and off line channels.
          %ul.job-description
            %li My primary object was to maintain overall client strategies and objectives by demonstrating the ability to provide strong concepts and design for brand identity.  I oversee full brand execution for all clients from product development through market launch.
            %li Designed new package for Denorex and Prell for use in market research and rebranding.
            %li Led the development of  'outside-of-the-box' strategic development ideas for clients including innovative private labels and spin-off concept brands.
            %li Create dramatic results for clients’ brand awareness through innovative logo, poster, brochure and magazine layouts (Philadelphia Magazine and Mainline Magazine).
            %li Performed PR function with multimedia outlets to help drive client’s brand recognition and increase sales potential.
            %li Worked as food stylist for client’s (NutriSystem, GFC Automat, Inc ) on SMTs, QVC and for other media events including work at Robert Verdi’s Luxe Lab in NYC.
            %li Created strong visual marketing strategies using various multimedia formats to create direct marketing program.
            %li Conceptualized and executed QVC on-air appearances for clients to help guide the narrative for sales. This includes the coaching of talent, overseeing B-roll production and product photography and communication with the CPs and associate broadcast staff.
            %li Held an equity role in the successful execution of GFC Automat, Inc. food brand and developed its distribution logistics for QVC.
            %li Recognized by Jamark Laboratories, Inc. for producing effective branding for products in development spinning off growth potential from 10%-20%.
            %li Developed an in-house product photography studio to help streamline client costs and bring additional creative resources under one roof. Acted as primary photographer, stylist, post-production and art director for production of images.


          %hr.clear-both.light-hr

          %p.job-title
            %u Earth Companies Development Group | June 2008—January 2009
          %p.job-subtitle Marketing Manager
          %p.job-description
            Led the marketing department in an integrated marketing approach to coordination and development of all marketing and PR activities for a land development company.
          %ul.job-description
            %li Led the marketing department in an integrated marketing approach to development and coordination on all marketing and PR activities for a land development company.
            %li Created and designed art related to branding including logos, brochures, web design, and outdoor boards.
            %li Developed and designed all internal and external communications to support the campaigns including email invitations, online ad/landing page content, and newsletter sponsorships.
            %li Managed online & offline events including:  the development of strong messaging, driving traffic/attendees, and on-site logistics support for events.
            %li Created a concise marketing message and taught, trained and coached staff on effective use of marketing materials and new material release.
            %li Identified and executed new programs based on a target market strategy: online, email, direct.  Implemented sales strategy for all aspects of the development business.
          %hr.clear-both.light-hr
          .text-center.margin-topgap25
            %a{ href: "/images/Michael_McMillan_Resume.pdf", class: " job-button btn btn-theme-red btn-lg", target: "_blank" } Download Full CV