/ Page Content
.content-section-a
  .container
    .row.job.padding-bottomgap20
      .col-12.text-center
        %h1.job-title.upper-class
          You can find me at the center of the universe... Vashon, WA!
        %h3.job-description
          Or just send me an email to
          %a{mailto: "me@michaelmcmillan.me" } me@michaelmcmillan.me
        %hr.clear-fix

        = image_tag "/images/seattleMetroMap.png", alt: "MM2"