.content-section-b
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 1
        %hr.section-heading-spacer
        %p.clear-left
          Experience Strategy
        %p.clear-left.section-body-text
          Create paper prototype to work with project manager to “rough out” the basic flow and actions the users will follow.  
        

      .col-12
        .col-4= image_tag "work/elocal-call-center/elocal-call-center-2.png", class: "img-responsive"
.content-section-a
  .container
    .row
      .col-12= image_tag "work/elocal-call-center/elocal-call-center-2.png", class: "img-responsive"
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 2
        %hr.section-heading-spacer
        %p.clear-left
          Basic UI Interactions & Flow
        %p.clear-left.section-body-text
          %br
          Then a rapid prototype was created with Angular.JS and Middleman to further define page interactions and create HTML/CSS skeleton for the dev team. 
          %br
          Operation team was brought in and asked to use the system. The team's interactions were recorded and 

.content-section-b
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 3
        %hr.section-heading-spacer
        %p.clear-left
          Create Working Prototype
        %p.clear-left.section-body-text
          Then a rapid prototype was created with Angular.JS and Middleman to further define page interactions and create HTML/CSS skeleton for the dev team. 
          %br
          Operation team was brought in and asked to use the system. The team's interactions were recorded and 
        .col-12

.content-section-a
  .container
    .row
      .col-12= image_tag "work/elocal-call-center/elocal-call-center-2.png", class: "img-responsive"
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 4
        %hr.section-heading-spacer
        %p.clear-left
          Deliver CSS/SCSS architecture
        %p.clear-left.section-body-text
          %br
          Then a rapid prototype was created with Angular.JS and Middleman to further define page interactions and create HTML/CSS skeleton for the dev team. 
          %br
          Operation team was brought in and asked to use the system. The team's interactions were recorded and 

