.content-section-a
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Profile
        %hr.section-heading-spacer
        %p.clear-left.section-body-text
          This project is a meal kit delivery system that is designed to be sent to celebrate life's moments.
.content-section-b.clearfix
  .column--with-margin
    .column--1-2
      .works-img
        %a{ href: "/images/work/loving-with-food/loving-with-food-img-1.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/loving-with-food/loving-with-food-img-1.png", class: "img-responsive", alt: "Loving with Food Image"
    .column--2-2
      .works-img
        %a{ href: "/images/work/loving-with-food/loving-with-food-img-2.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/loving-with-food/loving-with-food-img-2.png", class: "img-responsive", alt: "Loving with Food Image"