.content-section-b.clearfix
  .container
    .row
      .col-5
        %h2.section-heading.margin-bottomgap0.med-blue
          Highlights
        %hr.section-heading-spacer
        %p.clear-left.section-body-text
          %br
          This landing page had to be created and deployed within 24 hours to correspond with a Good Morning America interview with the spokes model, Alexa Ray Joel. The public relations team hadn't fully thought where to direct consumers during the pre-launch. I was able to understand the teams vision then quickly move the design from a Photoshop mock up and into a live production site with video; getting it all done before the deadline.

      .col-7
        %a{ href: "/images/work/prell/prell-img-1.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/prell/prell-img-1.png", class: "img-responsive", alt: "Prell Home Image"