.content-section-b.clearfix
  .column--1-1
    .works-img.text-center
      %a{ href: "/images/work/save-the-world-elocal/save-the-world-elocal-img-4.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/save-the-world-elocal/save-the-world-elocal-img-4.png", class: "img-responsive", alt: "Dream Dinner Food Image"

.content-section-a
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Highlights
        %hr.section-heading-spacer
        %p.clear-left
          Basic UI Interactions & Flow
        %p.clear-left.section-body-text
          %br
          One aspect of this project was to use Parallax design with interaction that would cue the user where to click to watch the related videos. I felt it would be interesting if we hid a few aspects of the image off the margins, where they'd only be seen if the use expanded their screen on a larger monitor. Feedback from the charity organizations was overwhelming positive and they loved the subtle touch created by the "easter eggs".

  .column--with-margin
    .column--1-3
      .works-img
        %a{ href: "/images/work/save-the-world-elocal/save-the-world-elocal-img-3.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/save-the-world-elocal/save-the-world-elocal-img-3.png", class: "img-responsive", alt: "Dream Dinner Food Image"
    .column--2-3
      .works-img
        %a{ href: "/images/work/save-the-world-elocal/save-the-world-elocal-img-1.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/save-the-world-elocal/save-the-world-elocal-img-1.png", class: "img-responsive", alt: "Dream Dinner Food Image"
    .column--3-3
      .works-img
        %a{ href: "/images/work/save-the-world-elocal/save-the-world-elocal-img-2.png", data:{ lightbox: "dream-dinners" } }= image_tag "/images/work/save-the-world-elocal/save-the-world-elocal-img-2.png", class: "img-responsive", alt: "Dream Dinner Food Image"
